Order Deny,Allow
Deny from all

<FilesMatch "logout.php">
Allow from all
</FilesMatch>

<FilesMatch "server.php">
Allow from all
</FilesMatch>

<FilesMatch "external.php">
Allow from all
</FilesMatch>

AddDefaultCharset UTF-8