.horz_nlsmenu {
    border:#002D96 1px solid;    
    background-color:#B5CDF6;
    z-index:1;   
}

.horz_nlsitemcontainer {height:22px;padding:1px}
.horz_nlsiconcell {width:20px;}
.horz_nlssubmenucell{width:20px;}
.horz_nlsitem {
    font-family:verdana;
    font-size:8pt;
    color:#333333;
    padding:2px 10px 2px 10px;
}

.horz_nlsitemcontainerover {
    height:22px;
    border-left:#002D96 1px solid;
    border-right:#002D96 1px solid;
    background-image:url(img/mbarbg.gif);
}
.horz_nlsiconcellover {width:20px;}
.horz_nlssubmenucellover {width:20px;}
.horz_nlsitemover {
    font-family:verdana;
    font-size:8pt;
    color:#000000;
    padding:2px 10px 2px 10px;
}

.horz_nlsitemdisable {
    font-family:verdana;
    font-size:8pt;
    color:#999999;
    padding:2px 5px 2px 5px;
}

.horz_nlsseparatorcontainer {padding-left:0px;}

.horz_nlsseparator {}

.horz_mtopleft {height:0px; width:0px;}
.horz_mtopright {height:0px; width:0px;}
.horz_mbottomleft {width:0px; height:0px;}
.horz_mbottomright {width:0px; height:0px;}
.horz_mtop {height:0px;}
.horz_mbottom {height:0px;}
.horz_mleft {width:0px;}
.horz_mright {width:0px;}

.horz_horzshadow { -moz-opacity:0.4;background-repeat:no-repeat; background-image:url(img/hshadow.gif);filter:progid:DXImageTransform.Microsoft.Alpha( Opacity=40, FinishOpacity=0, Style=0, StartX=0,  FinishX=100, StartY=0, FinishY=100);}
.horz_vertshadow { -moz-opacity:0.4;background-repeat:no-repeat; background-image:url(img/vshadow.gif);filter:progid:DXImageTransform.Microsoft.Alpha( Opacity=40, FinishOpacity=0, Style=0, StartX=0,  FinishX=100, StartY=0, FinishY=100);}
.horz_cornshadow { -moz-opacity:0.4;background-repeat:no-repeat; background-image:url(img/cornershadow.gif);filter:progid:DXImageTransform.Microsoft.Alpha( Opacity=40, FinishOpacity=0, Style=0, StartX=0,  FinishX=100, StartY=0, FinishY=100);}
